@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

body, html{
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Luxurious Roman', cursive;
}

.fullscreen{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > canvas{
    width: 100%;
    height: 100%;
}

.overlay{
    position: fixed;
    left: 20px;
    top: 20px;
}

a.back{
    display: block;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

a.back:hover{
    background: #ddd;
}

.gui{
    position: fixed;
}

.gui > *{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);   
    color: #FFF;
}

.tiles{
    left: 0.5%;
    top: 48%;
    width: 9%;
    height: 50%;
}

.numk{
    left: 0.5%;
    top: 40%;
    width: 9%;
    height: 7%;
    font-size: 1.8vh;
}

.tooltip{
    font-size: 3vh;
    right: 5%;
    top:90%;
    background-color: rgba(0, 0, 0, 0.5);
}

.timea{
    display: flex;
    left: 0.5%;
    top:29%;
    width: 9%;
    height: 5%;
    font-size: 1.8vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.timem{
    display: flex;
    left: 0.5%;
    top: 34%;
    width: 9%;
    height: 5%;
    font-size: 1.8vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.swal2-popup {
    font-family: inherit;
}
  
.icon-right {
    margin-right: 40px !important;
}
  
.swal2-title{
    bottom:100%;
    right:15%;
    font-size: 2vmax;
}

.swal2-html-container{
    position: relative;
    bottom: 20%;

}
